@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg{
  background: linear-gradient(119deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

  background-image: url('./assets/images/bgImg.jpg');
  background-image: url(https://img.freepik.com/free-psd/shopping-vertical-background_23-2150409469.jpg?t=st=1717767258~exp=1717770858~hmac=6cdb459c05f7d14961ad09cb7baa3c94e26958e8dea4eca08a0fb4f8e3c66252&w=360);
  /* background-image: url(https://img.freepik.com/free-psd/shopping-vertical-background_23-2150409471.jpg?w=360&t=st=1717766680~exp=1717767280~hmac=40c926cfb11c99f9accbfa348e2126f2e093486df048c5893eeb5b7522aaf6c7); */
  background-attachment: fixed;
}
@layer{

  .themeGlassBg{
    @apply bg-glassl dark:bg-glassd;
   }
  .themeIconBg{
    @apply hover:dark:bg-glassl hover:bg-glassd ring-2 focus:ring-2 focus:ring-gray-200  dark:focus:ring-gray-800 ;
   }
  .themeText{
    @apply text-gray-800 dark:text-gray-200;
   }
  .themeSpeText{
    @apply text-orange-700 dark:text-orange-400;
   }

  .themeCard{
    @apply bg-glassl dark:bg-glassd border-2 border-gray-800 dark:border-gray-200 rounded-lg;
   }
  .themeHeader{
    @apply bg-glassl dark:bg-glassd border-2 border-gray-800 dark:border-gray-200 rounded-b-xl;
   }
  .themeFooter{
    @apply bg-glassl dark:bg-glassd border-2 border-gray-800 dark:border-gray-200 rounded-t-xl ;
   }
  .color-ani{
    @apply transition-colors duration-200 ease-linear delay-75;
  }
  .trans-ani{
     @apply transition-transform duration-150 ease-linear delay-75;
   }


}
.hr{
  border-bottom: 2px solid;
  padding-top: 4px;
  padding-bottom: 4px;
}