@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./assets//styles/scrollbar.css);

body {
  margin: 0;
}
.bg{
  background: linear-gradient(119deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

  background-image: url('./assets/images/bgImg.jpg');
  background-image: url(https://img.freepik.com/free-psd/shopping-vertical-background_23-2150409469.jpg?t=st=1717767258~exp=1717770858~hmac=6cdb459c05f7d14961ad09cb7baa3c94e26958e8dea4eca08a0fb4f8e3c66252&w=360);
  /* background-image: url(https://img.freepik.com/free-psd/shopping-vertical-background_23-2150409471.jpg?w=360&t=st=1717766680~exp=1717767280~hmac=40c926cfb11c99f9accbfa348e2126f2e093486df048c5893eeb5b7522aaf6c7); */
  background-attachment: fixed;
}
@layer{

  .themeGlassBg{
    @apply bg-glassl dark:bg-glassd;
   }
  .themeIconBg{
    @apply hover:dark:bg-glassl hover:bg-glassd ring-2 focus:ring-2 focus:ring-gray-200  dark:focus:ring-gray-800 ;
   }
  .themeText{
    @apply text-gray-800 dark:text-gray-200;
   }
  .themeSpeText{
    @apply text-orange-700 dark:text-orange-400;
   }
  .themeBorder{
    @apply border-orange-700 dark:border-orange-400 border;
   }

  .themeCard{
    @apply bg-glassl dark:bg-glassd border-2 border-gray-800 dark:border-gray-200 rounded-lg;
   }
  .themeHeader{
    @apply bg-glassl dark:bg-glassd border-2 border-gray-800 dark:border-gray-200 rounded-b-xl;
   }
  .themeFooter{
    @apply bg-glassl dark:bg-glassd border-2 border-gray-800 dark:border-gray-200 rounded-t-xl ;
   }
  .color-ani{
    @apply transition-colors duration-200 ease-linear delay-75;
  }
  .trans-ani{
     @apply transition-transform duration-150 ease-linear delay-75;
   }


}
.hr{
  border-bottom: 2px solid;
  padding-top: 4px;
  padding-bottom: 4px;
}


/* In your global CSS file or Tailwind CSS file */

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.error-slide-in {
  animation: slideIn 0.3s forwards;
}

.error-slide-out {
  animation: slideOut 0.3s forwards;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.eot");
  src: url("./assets/fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Poppins-Bold.woff2") format("woff2"),
  url("./assets/fonts/Poppins-Bold.woff") format("woff"),
  url("./assets/fonts/Poppins-Bold.ttf") format("truetype"),
  url("./assets/fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.eot");
  src: url("./assets/fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Poppins-Medium.woff2") format("woff2"),
  url("./assets/fonts/Poppins-Medium.woff") format("woff"),
  url("./assets/fonts/Poppins-Medium.ttf") format("truetype"),
  url("./assets/fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Light.eot");
  src: url("./assets/fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Poppins-Light.woff2") format("woff2"),
  url("./assets/fonts/Poppins-Light.woff") format("woff"),
  url("./assets/fonts/Poppins-Light.ttf") format("truetype"),
  url("./assets/fonts/Poppins-Light.svg#Poppins-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.eot");
  src: url("./assets/fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Poppins-Regular.woff2") format("woff2"),
  url("./assets/fonts/Poppins-Regular.woff") format("woff"),
  url("./assets/fonts/Poppins-Regular.ttf") format("truetype"),
  url("./assets/fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.eot");
  src: url("./assets/fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Poppins-SemiBold.woff2") format("woff2"),
  url("./assets/fonts/Poppins-SemiBold.woff") format("woff"),
  url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype"),
  url("./assets/fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProggyCrossed";
  src: url("./assets/fonts/ProggyCrossed.eot");
  src: url("./assets/fonts/ProggyCrossed.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/ProggyCrossed.woff2") format("woff2"),
  url("./assets/fonts/ProggyCrossed.woff") format("woff"),
  url("./assets/fonts/ProggyCrossed.ttf") format("truetype"),
  url("./assets/fonts/ProggyCrossed.svg#ProggyCrossed") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Light.eot");
  src: url("./assets/fonts/Satoshi-Light.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Satoshi-Light.woff2") format("woff2"),
  url("./assets/fonts/Satoshi-Light.woff") format("woff"),
  url("./assets/fonts/Satoshi-Light.ttf") format("truetype"),
  url("./assets/fonts/Satoshi-Light.svg#Satoshi-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Regular.eot");
  src: url("./assets/fonts/Satoshi-Regular.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Satoshi-Regular.woff2") format("woff2"),
  url("./assets/fonts/Satoshi-Regular.woff") format("woff"),
  url("./assets/fonts/Satoshi-Regular.ttf") format("truetype"),
  url("./assets/fonts/Satoshi-Regular.svg#Satoshi-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Medium.eot");
  src: url("./assets/fonts/Satoshi-Medium.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Satoshi-Medium.woff2") format("woff2"),
  url("./assets/fonts/Satoshi-Medium.woff") format("woff"),
  url("./assets/fonts/Satoshi-Medium.ttf") format("truetype"),
  url("./assets/fonts/Satoshi-Medium.svg#Satoshi-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Bold.eot");
  src: url("./assets/fonts/Satoshi-Bold.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Satoshi-Bold.woff2") format("woff2"),
  url("./assets/fonts/Satoshi-Bold.woff") format("woff"),
  url("./assets/fonts/Satoshi-Bold.ttf") format("truetype"),
  url("./assets/fonts/Satoshi-Bold.svg#Satoshi-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
