
  *::-webkit-scrollbar {
    background-image: url('./../images/bgImg.jpg');
    width:7px; /* Width of the scrollbar */
    border-radius: 8px; /* Rounded corners for the scrollbar */
  }
  
  *::-webkit-scrollbar-track {
    border-radius: 10px;
    background-image: url('./../images/bgImg.jpg'); }
  
  *::-webkit-scrollbar-thumb {
    background-color: #2e2e2e; /* Thumb color */
    border-radius: 8px; /* Rounded corners for the scrollbar thumb */
  }
  


  .toast .border-b {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.toast .border-b .b{
    width: 100%;
    animation: border-back 5s linear;
}

@keyframes border-back {
    0% {
        width: 100%;
    }
    100% {
        width: 1px;
    }
}

